/*-----------------------
         Principal
-----------------------*/
    body {
        background: #d3caaa url("../images/body/bg.png") repeat-x;
    }
    
    #page {
        width: 100%;
        height: 100%;
        
        margin: 0px;
        padding: 0px;
        
        font-family: 'Bitstream Vera Sans', Verdana, sans-serif;
    }
    
    #page a {
        text-decoration: none;
    }
    
/*-----------------------
  Container Controles
-----------------------*/
    .menu {
        display: inline;
        float: left; 
    }
    
    div#account_button {
        width: 32px;
    	height: 32px;
    	margin: 12px 0 0 7px;
    	background: url("../images/main_container/user_icon.png") no-repeat;
    	cursor: pointer;	
    }

    /* Pesquisar */
    div#search {
        margin-right: 60px;	
    }
    
    div#search div div div {
        display: inline;
    	float: left;	
    }
    
    div#search input[type="text"] {
       border: 1px solid #D3CAAA;	
       height: 17px;
       margin-top: 2px;
    }
    
    div#search input[type="image"] {
       border: 0;   
       margin: -2px 0 0 2px;
    }
    
    div#search div {
        display: inline;	
    	height: 25px;
    }
    
    div#search div#right, div#search div#left {
        width: 2px;	
    	margin-top: -10px;
    }
    
    div#search div#left {
    	background: #fff url("../images/main_container/search_box_right.png");
    	float: right;
    	
    }
    
    div#search div#right {
        background: #fff url("../images/main_container/search_box_left.png");
    	float: right;
    }
     
    div#search div#content {
        display: inline;
        float: right;   
        font-size: 12px;
        background-color: #796646;
        margin-top:-10px;
        height: 25px;
    }    
    
    /* Login */
    div#login {
    	margin-top: 3px;
    	display: none;
        float: right;   
    	font-size: 12px;
    	background-color: #796646;
    	color: #FFF;
    	height: 103px;
    	overflow: hidden;
    	white-space: nowrap;
    }

    ul.navigation {
        padding: 0;
    	margin: 0;	
    }

    ul.navigation li a {
    	text-decoration: none;
    	font-size: 12px;
    	color: #aaa;
    	list-style: square;
    }
    
    ul.navigation li {
    	list-style: circle inside;
        color: #796646;
    	float: left;
    	margin-left: 18px;
    	padding-bottom: 3px;
    	border-bottom: 1px dotted #c5c5c5;
    }
    
    #controllers_container {
        height: 25px;
        margin: 0;
        padding: 0;
    }

/*-----------------------
  Container Principal
-----------------------*/

    #main_container {
        margin: 10px auto auto auto;
        width: 960px;
    }
    
        /* --------------
        Parte Superior */
        #main_container #header #top {
            height: 28px;
            width: 100%;
            background: #fff url("../images/main_container/top_middle.png") repeat-x;
        }
        
        #main_container #header #top .left, #main_container #header #top .right {
            height: 28px;
            width: 19px;
            display: inline;
        }
        
        #main_container #header #top .left {
            background: url("../images/main_container/top_left.png") no-repeat;
            float: left;
        }
        
        #main_container #header #top .right {
            background: url("../images/main_container/top_right.png") no-repeat;
            float: right;
        }
        
        #main_container #header .content {
            background-color: #FFF;
            height: 109px;
            overflow: hidden;
        }
        
        #main_container #header .content .left, #main_container #header .content .right {
            height: 109px;
            width: 37px;
            background-repeat: repeat-y;
            display: inline;
        }
        
        #main_container #header .content .left {
            background: url("../images/main_container/top_content_left.png");
            float: left;
        }
        
        #main_container #header .content .middle {
            display: inline;
            float: left;
        }
        
        #main_container #header .content .right {
            background: url("../images/main_container/top_content_right.png");
            float: right;
        }
        
        /* -------------
        Parte Central */
        
        #main_container #center {
            height: 100%;
        }
        
        #main_container #center .content {
            background-color: #FFF;
            margin: auto;
            height: 800px;        
        }
        
        #main_container #center .content div#info {
            width: 620px;	
            position: relative;
        }

        #main_container #center .content .left, #main_container #center .content .right {
            width: 6px;
            height: 100%;
            background-repeat: no-repeat;
            display: inline;
        }
        
        #main_container #center .content .left {
            background: url("../images/main_container/middle_left.png");
            float: left;
        }
        #main_container #center .content .middle {
        	height: 780px;
            margin-left: 4px;
            overflow: hidden;
            display: inline;
            float: left;
        }
        #main_container #center .content .right {
            background: url("../images/main_container/middle_right.png");
            float: right;
        }
        
            /*
             * Scroll Div
             */
			.slider { 
				left: 10px;
				top:120px;
				height: 500px;
			    position:relative; 
                display: inline;
                float: left;
			    cursor:pointer;
                background-color: #796646;
			    border:2px solid #796646;   
			    width:2px;
			}
			
			.progress {
			    background-color:#FFF;
			    height:100%;
			    position:absolute;
			    width:2px;
			}
			
			.handle { 
			    left: -6px;
			    background-image: url("../images/main_container/handle.png");
			    height:23px;
			    width:14px;
			    position:absolute; 
			    display:block;
			    cursor:move;
			}
			
			.handle:active {
			    background-image: url("../images/main_container/handle_active.png");   
			}
			
			.range {
			    display:none;
			}
			
            /*
             * Blocos
             */
            div.block {
                width: 290px;
            	height: 200px;
            	border: 3px solid #796646;
            	display: inline;
            	float: right;	
            	margin-right: 4px;
            }
            
            div.block_title {
            	width: 296px;
                height: 20px;
                margin-top: 10px;
            	background-color: #796646;
                display: inline;
                float: right;
            	margin-right: 4px;
            }
            
            div.block_title #left, div.block_title #right, div.block_title #title  {
            	height: 20px;
            	width: 18px;
            	display: inline;
            }
            
            div.block_title #left {
                background-image: url("../images/main_container/block_title_left.png");
            	float: left;	
            }
            
            div.block_title #title {
                width: 260px;
            	float: left;
            	text-align: center;
            	color: #FFF;
            	font-weight: bold;
            	font-size: 14px;
            	margin-top: 3px;
            }
            
            div.block_title #right {
                background-image: url("../images/main_container/block_title_right.png");
                float: right;    
            }
            
            div.block#b1 div#texto {
                font-size: 11px;
            	padding-left: 3px;
            	padding-right: 3px;

            }
            
            div.block#b1 h4 {
                margin: 0 0 5px 0;
                padding-left: 3px;
                padding-right: 3px;
            	text-align: center;             	
            }
            
            div.block#b1 #foto {
                display: inline;
            	margin: 3px 3px 0 3px;
            	clear: left;
            	float: left;
            	height: 100px;
            	width: 100px;	 
            }
        /* --------------
        Parte Inferior */
        #main_container #footer #bottom {
            height: 17px;
            
            width: 100%;
            display: block;
            background: #fff url("../images/main_container/bottom_middle.png") repeat-x;
            background-position: 0 12px;
        }
        
        #main_container #footer #bottom .left, #main_container #footer #bottom .right {
            height: 17px;
            width: 17px;
            display: inline;
        }
        
        #main_container #footer #bottom .left {
            background: url("../images/main_container/bottom_left.png") no-repeat;
            float: left;
        }
                
        #main_container #footer #bottom .right {
            background: url("../images/main_container/bottom_right.png") no-repeat;
            float: right;
        }
        #main_container #footer .content {
            background-color: #FFF;
            height: 80px;
        }
        #main_container #footer .content .left, #main_container #footer .content .right {
            width: 6px;
            height: 80px;
            background-repeat: repeat-y;
            display: inline;
        }
        
        #main_container #footer .content .left {
            background: url("../images/main_container/middle_left.png");
            float: left;
        }
        #main_container #footer .content .middle {
            display: inline;
            float: left;
        }
        #main_container #footer .content .right {
            background: url("../images/main_container/middle_right.png");
            float: right;
        }