table.spreadsheet {
	width: 100%;
	border-collapse: collapse;
	border-top: 2px solid #796646;
	border-bottom: 4px solid #796646;
	border-left: 2px solid #796646;
	border-right: 2px solid #796646;
}

table.spreadsheet th {
	background: #796646 url("../images/main_container/spreadsheet_th_bg.png") repeat-x;
	border-bottom: 2px solid #796646;
    color: #FFF;
}

table.spreadsheet td {
	background-color: #d9cebb;
	border-right: 1px solid #796646;
	border-bottom: 1px solid #FFF;
}